* {
  box-sizing: border-box;
}

body {
  font-family: trebuchet ms, sans-serif;
  font-size: x-large;
  margin: 3rem;
  background-color: #ffffff;
}

h1,
h2 {
  color: #000000;
}

.btn {
  font-family: trebuchet ms, sans-serif;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #04ae2b;
  color: white;
  border: 1px solid #04ae2b;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #019624;
  border-color: #019624;
}

.btn--alt {
  background-color: transparent;
  color: #04ae2b;
}

.btn--alt:hover {
  background-color: #e0f8da;
}

.card {
  background-color: rgb(255, 251, 240);
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
}

.actions {
  text-align: right;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
